/*colores*/
.blue {
    color: #3576b8;
}

/* formateo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

/* header nav */

.contenedor-navegacion {
    background-color: rgb(249, 251, 252);
    padding: 15px 0px;

}

.navbar-nav .nav-item .nav-link {
    color: blue;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #54ac2c;
    transform: scale(1.05);
}

.navbar-nav .nav-item .btn {
    background-color: #54ac2c;
    color: #fff;
}


.navbar-nav .nav-item .btn:hover {
    background-color: #3576b8;
    color: #fff;
}

.boton-contacto {
    margin-left: 15px;
}

.logo{
    transition: transform 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

/*seccion intro*/
.seccion-intro {
    padding: 90px;
}


.parrafo-intro {
    font-size: 30px;
    font-weight: 700;
    line-height: 0.8;
}

.titulo-intro {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: uppercase;
}

.section-link a {
    padding: 0;
}

/*  */
/*seccion investigacion */

.contenedor-cartas-principal {
    position: relative;
    width: 50%;
    height: 450px;
    padding-left: 100px;
    margin-bottom: 0;
}

.contenedor-cartas {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: #1d2b43;
}

.icon-center{
    background-color: #1d2b43;
    border: none; 
}

.icon-smart-city{
    background-color: #0d253a;
}

.icon-ia{
    background-color: #54ac2c;
}

.card-1 {
    grid-column: 3/7;
    grid-row: 2/6;
}

.card-2 {
    grid-column: 8/12;
    grid-row: 2/6;
}

.card-3 {
    grid-column: 3/7;
    grid-row: 7/11;
}

.card-4 {
    grid-column: 8/12;
    grid-row: 7/11;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #5cb1b2;
    border-radius: 10px;
    /* animation: iniciar 1.5s normal; */
}

.card .icon {
    width: 100%;
    height: 100%;
}


.card.animada {
    animation: iniciar 2s ease forwards;
}

@keyframes iniciar {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

.card .icon img {
    width: 100%;
    height: 100%;
   
}


.overlay {
    position: absolute;
    border-radius: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #1d2b43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    transition: opacity 0.4s ease, transform 0.4s ease;
    font-size: 11px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 10px;

}

.overlay p {
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
    z-index: 1000;
    transform: scale(1.45);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}



.fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d2b43;
    opacity: 1;
    transform-origin: top right;
    transform: skew(10deg, 0deg);
}

.fondo-azul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #54ac2c;
    opacity: 1;
    transform-origin: top right;
    transform: skew(-10deg, 0deg);
}

.bg-azul {
    background-color: #54ac2c;
}


.fondo-fuccia {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d253a;
    opacity: 1;
    transform-origin: top right;
    transform: skew(10deg, 0deg);
}

.bg-fuccia {
    background-color: #0d253a;
}

/* contenedor-cartas-secundario */
.contenedor-cartas-secundario {
    padding-left: 100px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.contenedor-cartas-secundario .contenido {
    width: 500px;
    display: flex;
    flex-direction: column;

}

/* articulo 2 */
.boton-start {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;

}

.who-title {
    color: #3576b8;
    font-weight: bold;
}

.who-descripcion {
    font-weight: bold;
    padding-right: 110px;
}

.who-descripcion h2 {
    font-weight: bold;
    font-size: 36px;
}

.who-text {
    font-size: 18px;
    font-weight: 400;
    color: #555;
}

.contenedor-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #0d253a;
    height: 400px;
}
.item-1{
    grid-column: 1/4;
    grid-row: 1/7;
}
.item-2{
    grid-column: 4/7;
    grid-row: 1/7;
}
.item-3{
    grid-column: 7/10;
    grid-row: 1/7;
}
.item-4{
    grid-column: 10/13;
    grid-row: 1/7;
}
.item-5{
    grid-column: 1/4;
    grid-row: 7/13;
}
.item-6{
    grid-column: 4/7;
    grid-row: 7/13;
}
.item-7{
    grid-column: 7/10;
    grid-row: 7/13;
}
.item-8{
    grid-column: 10/13;
    grid-row: 7/13;
}

.overlay-small{
    background-color: #0d253a;
}

.card:hover .overlay-small{
    transform: scale(1.15);

}
.card:hover .overlay-small p{
    font-size: 14px;
    
}


@media (max-width:995px){
    .fondo, .fondo-azul, .fondo-fuccia {
        display: none;
    }
    .contenedor-cartas {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 50%;
    }
    .contenedor-cartas-principal {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .bg-blanco {
        background-color: white ;
    }


    .icon-center,.icon-ia, .icon-smart-city {
        height: 200px !important;
    }
    .seccion-1-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card:hover .overlay {
    opacity: 1;
    z-index: 1000;
    transform: scale(1.2);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}
}

@media (max-width:700px) {
    .seccion-intro {
        padding: 15px;
    }
}

@media (max-width: 500px) {
    .contenedor-cartas-principal {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .container-fluid{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .contenedor-cartas {
        width: 100%;
        height: auto;
    }
    .card {
        height: 200px;
    }
    
.card:hover .overlay {
    opacity: 1;
    z-index: 1000;
    transform: scale(1);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

}
